.grid-table {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-table-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 30px;
}